@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  p {
    @apply flex text-center text-[18px];
  }

  .title {
    @apply text-[#0e1a37] font-bold text-[24px]
  }
}

@layer utilities {
  .fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
